@model SmartTourWeb.Models.agent

@{
    ViewBag.Title = "Thêm đơn vị quản lý";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Thêm đơn vị quản lý</h2>

@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
 <table class="TableUpdate" border="1" >
         <tbody>
       
             <tr >
                <td class="Control"  colspan="2">
                    <ul> 
                        <li><input type="submit" value="Lưu lại" class="uupdate" /></li>
                         <li>@Html.ActionLink("Quay lại", "Index", null, new { @class = "vback" })</li>
                    </ul>
                </td>
            </tr>
             <tr>
            <th >
            Tên đơn vị
            </th>
            <td class="text valid">
            @Html.EditorFor(model => model.agent_name)
            @Html.ValidationMessageFor(model => model.agent_name)
            </td>
        </tr>
             <tr>
            <th >
           Mô tả
            </th>
            <td class="text valid">
            @Html.EditorFor(model => model.agent_des)
            @Html.ValidationMessageFor(model => model.agent_des)
            </td>
        </tr>
             <tr>
            <th >
            Tên nhóm
            </th>
            <td class="text valid">
            @Html.DropDownList("group_id", String.Empty)
            @Html.ValidationMessageFor(model => model.group_id)
            </td>
        </tr>
        <tr >
            <td class="Control"  colspan="2">
                <ul> 
                    <li><input type="submit" value="Lưu lại" class="uupdate" /></li>
                        <li>@Html.ActionLink("Quay lại", "Index", null, new { @class = "vback" })</li>
                </ul>
            </td>
        </tr> 

             </tbody>
</table>
}